<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<head>
    <title>{% block title %}Recipe Finder{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <h2 class="navbar-text">
            <span class="glyphicon glyphicon-glass"></span>
                Recipe Finder
            <span class="glyphicon glyphicon-glass"></span>
        </h2>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>
