<html>
<head>
    <title>Search</title>
</head>
<body>
    <form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <form action="/search/" method="get">
        <select name="q">
            <option value="V">Veggie</option>
            <option value="T">Tofu</option>
            <option value="C">Chicken</option>
            <option value="B">Beef</option>
            <option value="F">Fish</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
