<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            console.log($("li"));
            for (item in $("li")) {
                console.log(item);
            }

            $("#tableglyph").click(function(){
                $("#slide-table").slideToggle();

                var tableglyph = $("#tableglyph");
                if (tableglyph.attr("class") == "glyphicon glyphicon-chevron-down") {
                    tableglyph.attr("class", "glyphicon glyphicon-chevron-right");
                }
                else {
                    tableglyph.attr("class", "glyphicon glyphicon-chevron-down");
                }
            });
        });
    </script>
    <title>{% block title %}Recipe Finder{% endblock %}</title>
</head>
<body>

    <nav class="navbar navbar-inverse" role="navigation">
        <h2 class="navbar-text">
            <span class="glyphicon glyphicon-search"></span> Recipe Finder
        </h2>
    </nav>

    {% block content %}{% endblock %}

</body>
</html>
