{% extends "base.html" %}

{% block title %}
    Recipe Finder
{% endblock %}

{% block content %}
    <div class="container" style="margin-left: 20px">
        <div class="col-md-3" style="border-right: 1px solid">
            <form method='post'>
                {{ form.as_p }}
            </form>
            <div class="row" style="height: 100%"></div>
        </div>

        <div class="col-md-9">
            <h2>Recipes</h2>
            <ul>
            {% for recipe in recipe_list %}
                <li>
                    <a href="/recipe/?id={{ recipe.id }}" style="color: #000000">{{ recipe.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
